<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title>Spring Boot中使用ECharts</title>
<!--    <script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>-->
        <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
<body>
<div id="main" style="width: 1000px;height:400px;"></div>
</body>

<!--<script type="text/javascript">-->
<!--    let myChart = echarts.init(document.getElementById('main'));-->
<!--    let option = {-->
<!--        title: {-->
<!--            text: 'Spring Boot中使用ECharts'-->
<!--        },-->
<!--        tooltip: {},-->
<!--        xAxis: {-->
<!--            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']-->
<!--        },-->
<!--        yAxis: {},-->
<!--        series: [{-->
<!--            data: [820, 932, 901, 934, 1290, 1330, 1320],-->
<!--            type: 'line'-->
<!--        }]-->
<!--    };-->
<!--    myChart.setOption(option);-->
<!--</script>-->

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'),'dark');

    // 指定图表的配置项和数据

    //柱状图
    // var option = {
    //     title: {
    //         text: 'ECharts 入门示例'
    //     },
    //     tooltip: {},
    //     legend: {
    //         data:['销量']
    //     },
    //     xAxis: {
    //         data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
    //     },
    //     yAxis: {},
    //     series: [{
    //         name: '销量',
    //         type: 'bar',
    //         data: [5, 20, 36, 10, 10, 20]
    //     }]
    // };

    //饼图
    // var option = {
    //     series : [{
    //         name: '访问来源',
    //         type: 'pie',    // 设置图表类型为饼图
    //         radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
    //         roseType: 'angle',//把饼图显示成南丁格尔图
    //         data:[          // 数据数组，name 为数据项名称，value 为数据项值
    //             {value:235, name:'视频广告'},
    //             {value:274, name:'联盟广告'},
    //             {value:310, name:'邮件营销'},
    //             {value:335, name:'直接访问'},
    //             {value:400, name:'搜索引擎'}],
    //         // itemStyle: { //打阴影
    //         //     normal: {
    //         //         shadowBlur: 200,
    //         //         shadowColor: 'rgba(0, 0, 0, 0.5)'
    //         //     }
    //         // }
    //     }]
    // }

    //旭日图
    // var option = {
    //     series: {
    //         type: 'sunburst',
    //         data: [{
    //             name: 'A',
    //             value: 10,
    //             children: [{
    //                 value: 3,
    //                 name: 'Aa'
    //             }, {
    //                 value: 5,
    //                 name: 'Ab'
    //             }]
    //         }, {
    //             name: 'B',
    //             children: [{
    //                 name: 'Ba',
    //                 value: 4
    //             }, {
    //                 name: 'Bb',
    //                 value: 2
    //             }]
    //         }, {
    //             name: 'C',
    //             value: 3
    //         }]
    //     }
    // };


    // 模拟数据
    function getVirtulData(year) {
        year = year || '2017';
        var date = +echarts.number.parseDate(year + '-01-01');
        var end = +echarts.number.parseDate(year + '-12-31');
        var dayTime = 3600 * 24 * 1000;
        var data = [];
        for (var time = date; time <= end; time += dayTime) {
            data.push([
                echarts.format.formatTime('yyyy-MM-dd', time),
                Math.floor(Math.random() * 10000)
            ]);
        }
        return data;
    }
    //日历图
    var option = {
        visualMap: {
            show: false,
            min: 0,
            max: 10000
        },
        calendar: {
            range: '2017'
        },
        series: {
            type: 'heatmap',
            coordinateSystem: 'calendar',
            data: getVirtulData(2017)
        }
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

</html>